@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.show-filter {
  left: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(233, 233, 233);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}

.show-small-cart {
  right: 0;
}
.show-list-item {
  height: fit-content !important;
}
.show-men-child {
  left: 0 !important;
}

html {
  scroll-behavior: smooth;
}

.item:hover > .item-list {
  visibility: visible !important;
}

@media screen and (min-width: 968px) {
  .p-left-1 {
    padding-left: 10px !important;
  }

  .p-left-2 {
    padding-left: 10px !important;
  }

  .p-left-3 {
    padding-left: 10px !important;
  }

  .p-left-4 {
    padding-left: 10px !important;
  }
}

.p-left-1 {
  padding-left: 10px;
}

.p-left-2 {
  padding-left: 20px;
}

.p-left-3 {
  padding-left: 30px;
}

.p-left-4 {
  padding-left: 40px;
}
.menuChild {
  opacity: 0;
  visibility: hidden;
}

.menuParent:hover > .menuChild {
  opacity: 100;
  visibility: visible;
}
.shine-box {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.shine-box::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 70%);
  transform: rotate(25deg);
  animation: shine 2s infinite;
}
  
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}